extends layout

block content

  h1= title

  h2 AGGREGATION
  p An #[strong aggregate operators] are functions that operate on the multiset of values of a column of a relation, and return a value. Aggregation functions include:
  ul
    li #[strong AVG: ] average value
    li #[strong MIN: ] minimum value
    li #[strong MAX: ] maximum value
    li #[strong SUM: ] sum of value
    li #[strong COUNT: ] number of values

  h3 In our project:
  
