extends layout

block content
  h1= title
  p Welcome to #[em frienDB],  a very basic Social Media Networking Database made with Node.js/Express and Postgres.

  h1 Site Statistics

  if error
    p Error getting dynamic content.
  else
    p This database has the following records:

    h4 Users:
    for user in users
      li #{user.username}

    h4 Posts:
    for post in posts
      li #{post.postid}
