doctype html
html(lang='en')
  head
    script.
      if (typeof localStorage === "undefined" || localStorage === null) {
        var LocalStorage = require('node-localstorage').LocalStorage;
        localStorage = new LocalStorage('./scratch');
      }
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav' data-spy="affix")
              li
                a(href='/home') Home
              li
                a(href='/home/users') All users
              li
                a(href='/home/tags') All tags
              li
                a(href='/home/posts') All posts
              li
                a(href='/home/locations') All locations
              li
                hr
              li
                //script.
                  $(function(){
                    $('#user span').text(localStorage.getItem('user'))
                  });
                //div(id="user")
                  p Logged in as: @
                    span user
              li
                a(href='/home/login') Log in
              li
                a(href='/home/logout') Log out
              li
                a(href='/home/user/create') Create new user
              li
                a(href='/home/post/create') Create new post
              li
                hr
              h4 Database queries
              li
                a(href='/home/selection') Selection/Projection 📍
              li
                a(href='/home/join') Join
              li
                a(href='/home/division') Division 📍
              li
                a(href='/home/aggregation') Aggregation 📍
              li
                a(href='/home/nested-aggregation') Nested Aggregation 📍
              li
                a(href='/home/delete') Delete
              li
                a(href='/home/update') Update
              br
              li
                sub 📍: page with demo

        div(class='col-sm-10')
          block content
