extends layout

block content
  h1= title

  ul
  each location in location_list
    ul
      li
        a(href="/home/location/" + location.city + '/' + location.country) #{location.city}, #{location.country}

  else
    p There are no locations.
