extends layout

block content

  h1= title

  h2 SELECTION & PROJECTION
  p A #[strong select] statement is used to select data from a database, choosing which rows are returned. #[strong Projection] is used for selecting which columns of the table to return.

  p For example, a selection that selects all columns from all rows in the users table:

  pre.
    SELECT * FROM users;

  p To select a row for a specific user, we do this:

  pre.
    SELECT * FROM users WHERE username = <username>;

  p And to select columns from a specific table, we do the following (this is the command for the demo example below):

  pre.
    SELECT (<column 1>, <column 2>, ... <column n>) FROM users;

  h3 In our project:

  ul
    li We implemented a selection and projection to display the lists of all users, tags, posts, and locations. We have also used a projection in a #[strong 'WHERE username = username'] statement to display individual posts and users.
    li We have implemented also a selection and projection from the Users table below for demonstration:

  hr

  if error
    h4 Error!
    p Please fix the following error before proceeding:
    pre #{error.message}

  form(method='POST' action='')
    div.form-group
    h3 SELECT

    div

      div(style='display: inline; padding-right: 20px;')
        input.checkbox-input(type='checkbox', name='column', value='username', id='username')
        label(for='username') username

      div(style='display: inline; padding-right: 10px;')
        input.checkbox-input(type='checkbox', name='column', value='first_name', id='first_name')
        label(for='first_name') first_name

      div(style='display: inline; padding-right: 10px;')
        input.checkbox-input(type='checkbox', name='column', value='last_name', id='last_name')
        label(for='last_name') last_name

      div(style='display: inline; padding-right: 10px;')
        input.checkbox-input(type='checkbox', name='column', value='gender', id='gender')
        label(for='gender') gender

      div(style='display: inline; padding-right: 10px;')
        input.checkbox-input(type='checkbox', name='column', value='birthdate', id='birthdate')
        label(for='birthdate') birthdate

      div(style='display: inline; padding-right: 10px;')
        input.checkbox-input(type='checkbox', name='column', value='born_city', id='born_city')
        label(for='born_city') city born

      div(style='display: inline; padding-right: 10px;')
        input.checkbox-input(type='checkbox', name='column', value='born_country', id='born_country')
        label(for='born_country') country born

      div(style='display: inline; padding-right: 10px;')
        input.checkbox-input(type='checkbox', name='column', value='lives_city', id='lives_city')
        label(for='lives_city') city living in

      div(style='display: inline; padding-right: 10px;')
        input.checkbox-input(type='checkbox', name='column', value='lives_country', id='lives_country')
        label(for='lives_country') country living in

    h3 FROM USER;

    br

    button.btn.btn-primary(type='submit') Send query

  hr

  if sql
    p #[strong Your query: #{sql}]
  if users
    p #[strong Results: ]
    each user in users
      p #{user.row}

    else
      p Nothing to display here!
