extends layout

block content
  h1= title

  ul
  each user in user_list
    - var url = "/user/" + user.userId
    li
      a(href="/user/" + user.userId) #{user.first_name} #{user.family_name}

  else
    li There are no users.
