extends layout

block content

  h1 #{user.first_name} #{user.last_name}
  p #[strong Username: ] #{user.username}
  p #[strong Birthday: ] #{user.birthdate}

  

  div(style='margin-left: 20px; margin-top: 20px')

    h4 Posts
