body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.card-wide {
  position: relative;
  display: inline-block;
  height: auto;
  padding: 4px 30px 30px 30px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 10px;
  vertical-align: top;
  overflow: auto;
  text-align: center;
}

.card {
  position: relative;
  display: inline-block;
  height: auto;
  padding: 4px 30px 30px 30px;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 10px;
  vertical-align: top;
  overflow: auto;
  text-align: center;
}

table {
  display: inline-block;
}

th, td {
  text-align: center;
  padding: 5px;
  border: 1px solid black;
}
